:root {
	--primary-colour: #5e92bf;
	--accent-colour: white;
}

* {
	box-sizing: border-box;
	padding: 0%;
	margin: 0%;
	font-family: sans-serif;
	font-weight: bold;
	overflow-x: hidden;
}

html {
	scroll-behavior: smooth;
}

nav {
	color: var(--primary-colour);
	background-color: --accent-colour;
	height: 5vh;
	display: flex;
	justify-content: space-between;
	padding: 0% 1%;
	align-items: center;
}

.menu-button {
	background: url("./img/menu.png");
	width: 2rem;
	height: 2rem;
	background-size: cover;
	background-repeat: no-repeat;
	cursor: pointer;
}

.menu {
	z-index: 1;
	transform: translateX(100%);
	position: absolute;
	top: 5vh;
	right: 0%;
	display: flex;
	justify-content: center;
	width: 15vw;
	height: 95vh;
	justify-content: center;
	align-items: center;
	background-color: var(--primary-colour);
	transition: all 0.4s ease-in-out;
	pointer-events: none;
	opacity: 0.8;
}

.open {
	transition: all 0.4s ease-in-out;
	transform: translateX(0%);
	pointer-events: all;
}

.menu ul {
	list-style: none;
	text-align: center;
}

.menu ul li a {
	text-decoration: none;
	color: var(--accent-colour);
	display: inline-block;
	font-size: 1.2rem;
	padding: 1rem 0rem;
}

header {
	background: url("./img/background.gif");
	height: 95vh;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.9;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-shadow: 0px 0px 4px lightslategray;
}

header h1 {
	font-size: 2.5rem;
	color: white;
	text-align: center;
}

header a {
	margin-top: 2rem;
	color: white;
	text-decoration: none;
	font-size: 1rem;
	padding: 0.2rem 0.4rem;
	border: var(--accent-colour) solid 3px;
	border-radius: 0.2rem;
}

header a:hover {
	background-color: var(--accent-colour);
	color: var(--primary-colour);
}

section {
	margin-top: 1vh;
	padding: 1% 1%;
	color: var(--primary-colour);
	font-size: 1.2rem;
}

.card {
	padding-left: 1%;
	margin: 2vh 0%;
	background-color: var(--primary-colour);
	border-radius: 0.5rem;
	color: var(--accent-colour);
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0px 0px 4px lightslategray;
}

.card:hover {
	opacity: 0.8;
}

.card div {
	flex: 1;
	padding-right: 2%;
}

.manga-img {
	max-width: 5rem;
	border-radius: 0.5px;
}

@media only screen and (max-width: 1280px) {
	.menu {
		width: 20vw;
	}
}

@media only screen and (max-width: 950px) {
	.menu {
		width: 25vw;
	}
}

@media only screen and (max-width: 850px) {
	.menu {
		width: 100vw;
		opacity: 1;
	}
}

@media only screen and (max-width: 610px) {
	.favourites {
		display: none;
	}
}

@media only screen and (max-width: 430px) {
	nav,
	section {
		padding: 0% 2%;
	}
	.rating {
		display: none;
	}
}

@media only screen and (max-width: 320px) {
	.logo {
		justify-content: flex-end;
		display: none;
	}
}
